body {
  background: #fff;
}

.header {
  font-family: 'Merriweather', serif; 
  font-weight: bold; 
  line-height: 60px; 
  margin: 10px 0 24px; 
  text-align: center;
}

.animatedLogo {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 70px;
  vertical-align: middle;
  width: 76px;
}

.sendButtonSpace {
  height: 25px;
  margin: 0 0 0 10px;
  min-height: 25px;
  min-width: 25px;
  padding: 0 0 0 25px;
  width: 25px;
}

.transactionStatus {
  color: red;
}

.customAlertMessage {
  font-size:80%;
}